@using Microsoft.AspNetCore.Http;
@model Star.Models.Usuario
<!--
if (Context.Session.GetInt32("Id") == null)
{
<label>Não tem!</label>
}
else
{
<label>Context.Session.GetInt32("Id")</label>
}

if (Context.Session.GetInt32("qwe") == null)
{
<label>Não apareceu!</label>
}
else
{
<label>-> Context.Session.GetInt32("qwe")</label>
}
<form method="post" class="mx-5 px-5">
    <div class="form-group">
        <label>Nome da Familia:</label>
        <input asp-for="NomeCadastro" class="form-control" />
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Nome:</label>
                <input asp-for="Nome" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>E-mail:</label>
                <input asp-for="Email" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label>Senha:</label>
                <input asp-for="Senha" class="form-control" />
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Confirmar Senha:</label>
                <input asp-for="ConfirmaSenha" class="form-control" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <center><input type="submit" value="Entrar" class="btn btn-success" /></center>

    </div>
</form>
    -->

@if (ViewBag.validacao != null)
{
    <div class='modal fade' id='ModalCenter' tabindex='-1' role='dialog' aria-labelledby='exampleModalCenterTitle' aria-hidden='true'>
        <div class='modal-dialog modal-dialog-centered' role='document'>
            <div class='modal-content'>
                <div class='modal-header'>
                    <h5 class='modal-title' id='exampleModalLongTitle'>Login</h5>
                    <button type='button' class='close' data-dismiss='modal' aria-label='Close'>
                        <span aria-hidden='true'>&times;</span>
                    </button>
                </div>
                <div class='modal-body'>
                    @ViewBag.validacao
                </div>
                <div class='modal-footer'>
                    <button type='button' class='btn btn-secondary' data-dismiss='modal'>Close</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.onload = function abre() {
            $('#ModalCenter').modal();
        };
    </script>
}


<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">
            <div class="login100-pic js-tilt" data-tilt>
                <img src="~/images/img-01.png" alt="IMG">
            </div>

            <form class="login100-form validate-form" method="post">
                <span class="login100-form-title">
                    Criar Conta
                </span>

                <div class="wrap-input100 validate-input" data-validate="Digite um nome. Exemplo: Família Starc">
                    <input asp-for="NomeCadastro" class="input100" type="text" placeholder="Nome do grupo de usuários">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Digite seu nome. Exemplo: José">
                    <input asp-for="Nome" class="input100" type="text" placeholder="Nome">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-user-circle" aria-hidden="true"></i>
                    </span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Digite um email valido: exemplo@exemplo.com">
                    <input asp-for="Email" class="input100" type="text" placeholder="Email">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Digite uma senha válida">
                    <input asp-for="Senha" class="input100" type="password" placeholder="Senha">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Digite uma senha válida">
                    <input asp-for="ConfirmaSenha" class="input100" type="password" placeholder="Confirmar senha">
                    <span class="focus-input100"></span>
                    <span class="symbol-input100">
                        <i class="fa fa-lock" aria-hidden="true"></i>
                    </span>
                </div>

                <div class="container-login100-form-btn">
                    <input type="submit" value="Criar conta" class="login100-form-btn" data-toggle="modal" data-target="#exampleModalCenter">
                </div>
                <div class="text-center p-t-136">
                    <a asp-controller="Usuario" asp-action="Login" class="txt2">
                        Já possui uma conta? Faça o login
                        <i class="fa fa-long-arrow-right m-l-5" aria-hidden="true"></i>
                    </a>
                </div>
            </form>
        </div>
    </div>
</div>