@using Microsoft.AspNetCore.Http;

<center style="margin-top: 80px;">
    <a asp-controller="Componente" asp-action="Index" class="btn btn-success">Componente</a>
    <a asp-controller="Grupo" asp-action="Index" class="btn btn-success">Grupo</a>

</center>

