
@model Star.Models.Grupo
<a asp-controller="Grupo" asp-action="Index"><img style="width: 4%; height: 4%" src="~/imagens/iconVoltar.svg" alt="Voltar" /></a>

<br />

<center><h1>Grupo:</h1></center>

<br />
<br />
<form method="post">
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group">
                <label>Nome:</label>
                <input asp-for="Nome" class="form-control" />
            </div>
            <div class="form-group">
                <label>Descrição:</label>
                <input asp-for="Descricao" class="form-control" />
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <label>Dias da Semana:</label>
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Segunda" class="from-check-input" />
                    <label class="form-check-label">Segunda</label>
                </div>
            </div><br />
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Terca" class="from-check-input" />
                    <label class="form-check-label">Terça</label>
                </div>
            </div><br />
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Quarta" class="from-check-input" />
                    <label class="form-check-label">Quarta</label>
                </div>
            </div><br />
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Quinta" class="from-check-input" />
                    <label class="form-check-label">Quinta</label>
                </div>
            </div><br />
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Sexta" class="from-check-input" />
                    <label class="form-check-label">Sexta</label>
                </div>
            </div><br />
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Sabado" class="from-check-input" />
                    <label class="form-check-label">Sábado</label>
                </div>
            </div><br />
            <div class="card">
                <div class="card-body" style="padding: 0.5rem">
                    &nbsp;&nbsp;
                    <input type="checkbox" asp-for="Domingo" class="from-check-input" />
                    <label class="form-check-label">Domingo</label>
                </div>
            </div><br />
        </div>
        <div class="col-sm-4">


            <label>Componentes:</label>
            @foreach (Componente c in ViewBag.Componente)
            {
                <div class="card">
                    <div class="card-body" style="padding: 0.5rem">
                        <input type="checkbox" name="Componentes[]" value="@c.Id" class="from-check-input" /><!--<input type="checkbox" class="from-check-input" name="Componente[]" value="->Id<-" />-->
                        <label class="form-check-label">@c.Nome</label>
                    </div>
                </div><br />

            }
        </div>

        <div class="col-sm-4">
            <div class="form-group">
                <label>Horário Inicial:</label>
                <input type="time" asp-for="HorarioInicial" class="form-control" />
            </div>

            <div class="form-group">
                <label>Horário Final:</label>
                <input type="time" asp-for="HorarioFinal" class="form-control" />
            </div>
        </div>
    </div>

    <div class="form-group">
        <center><input type="submit" value="Salvar"/></center>
    </div>
</form>