<div class="container">
    <a asp-controller="Grupo" asp-action="Index"><img style="width: 4%; height: 4%" src="~/imagens/iconVoltar.svg" alt="Voltar" /></a>

    <br />

    <center><h1>Componentes do Grupo:</h1></center>

    <br />
    <br />
    <!--Div da Linha com 4 Cards-->

    <!--
        
        Quando o componente estiver ativo no grupo o icone da lampada fica ligado, quando ele estiver desativado o icone da lampada fica desligado
        
    -->
    <div class="row">
        <!--Div do Card com as informações-->

        @foreach (ComponenteGrupo cg in ViewBag.Componentes)
        {
            
            <div class="col-sm-2 d-flex">
                <div class="card bg-light border-dark flex-fill">
                    <div class="card-header bg-transparent border-dark flex-fill">
                        <center>
                            

                                <img src="~/imagens/LampadaLigada.svg">
                            
                            <h5>@cg.Componente.Nome</h5>
                        </center>
                    </div>
                </div>
            </div>
            


        }
    </div>
</div>
